page-find-seller {
  .find-seller{
    // background-color: #0090d0
  }
  .zoom-in {
    -webkit-animation: zoomIn 500ms;
    -moz-animation: zoomIn 500ms;
    -o-animation: zoomIn 500ms;
    animation: zoomIn 500ms;
  }

  .searchbar-ios {
    // background: #0090d0 !important
  }

  .list-md {
    margin: -1px 0 5px !important;
  }

  .item-accordion{
    // background-color: hotpink
  }
}
