<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle (click)="goToMainMenu()">
      <ion-icon name="arrow-back"></ion-icon>
    </button>
    <ion-title>ค้นหาสมาชิกผู้ขายขยะ</ion-title>

  </ion-navbar>
</ion-header>

<ion-content class="find-seller">
  <ion-grid>
    <ion-row>
      <ion-col col-5><h3>ใส่เลขบัตรประชาชน</h3><h3> หรือชื่อสมาชิก</h3></ion-col>
      <ion-col col-7><ion-searchbar (ionInput)="getItems($event)"></ion-searchbar></ion-col>
    </ion-row>
  </ion-grid>
  

  <ion-grid no-padding *ngIf="data != null">
  <ion-list >
    <ion-item *ngFor="let seller of sellers" (click)="gotoFindItems(seller)">
          <ion-avatar item-start>
              <img src="{{url_server}}/images/users/{{seller.image}}" />
          </ion-avatar>
          <h1>{{seller.name}} {{seller.lastname}}</h1>
          <h2 item-subtitle padding-left>เลขบัตรประชาชน:{{seller.id_card}} </h2>
          <h5 header-subtitle padding-left>
              {{ seller.address }}
              ต. {{seller.tambon_name}}
              
          </h5>
          <h5 header-subtitle padding-left>อ. {{seller.district_name}}
              จ. {{seller.province_name}}
          </h5>
          <button ion-button round item-end color="secondary">ซื้อขยะ</button>
        </ion-item>
     
    </ion-list>
  </ion-grid>
</ion-content>
