<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle (click)="goTofindSellerTabs()">
      <ion-icon name="backspace"></ion-icon>
    </button>
    <ion-title>รับซื้อรายการขยะ </ion-title>
  </ion-navbar>
  <ion-fab #fab right top [navPush]='PurchaseItems'>
    <button ion-fab color="secondary">
      <ion-icon name="cart"></ion-icon>
      <ion-badge color="google">{{ countItems }}</ion-badge>
    </button>
  </ion-fab>
</ion-header>

<ion-content>
  <ion-grid no-padding *ngIf="data != null">
    <ion-item>
      <ion-row>
        <ion-col col-2>
          <ion-icon icon-medium item-start role="img" class="icon icon-md item-icon">
            <i class="icon icon-play-circle"></i>
          </ion-icon>
        </ion-col>
        <ion-col col-3>
          <ion-avatar><img src="{{server_url}}/images/users/{{_seller.image}}"></ion-avatar>
        </ion-col>
        <ion-col col-7>
          <h2 item-title no-padding>{{_seller.name}} {{_seller.lastname}}</h2>

          <h3 item-subtitle no-padding>สมาชิกผู้ขายขยะ</h3>
        </ion-col>
      </ion-row>

    </ion-item>


    <ion-searchbar (ionInput)="filterItems($event)"></ion-searchbar>
    <ion-list>
      <ion-item *ngFor="let item of items; let i =index" (click)="presentaddModalItem(item)">
        <ion-thumbnail item-start>
          <!-- <img src="assets/images/avatar/0.jpg"> -->
          <img src="{{server_url}}/images/{{item.image}}">
        </ion-thumbnail>
        <h2>{{ item.name }}</h2>
        <p>
          <ion-badge color="google" class="badge badge-md badge-md-google" ng-reflect-color="google" *ngIf="testdate(item.updated_at_th) == false">{{
            item.price }} บาท</ion-badge>
          <ion-badge color="facebook" class="badge badge-md badge-md-facebook" ng-reflect-color="facebook" *ngIf="testdate(item.updated_at_th) == true">{{
            item.price }} บาท</ion-badge>

        </p>
        <p>[{{item.updated_at_th}}]</p>
        <button ion-button item-end color="secondary">เพิ่มข้อมูล</button>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>


<!-- <ion-row>
       <ion-col col-12>
        {{seller.name}} {{seller.last_name}} : {{seller.mobile}}
      </ion-col> 
      <ion-col col-12>
        <ion-list no-margin>
          <ion-list-header header-bcg no-padding no-lines>
            <ion-searchbar (ionInput)="filterItems($event)"></ion-searchbar>
          </ion-list-header>
            <ion-row>
              <ion-col *ngFor="let item of items; let i =index" 
                [class.col-5]="i%3 ===0" 
                [class.col-7]="i%3 ===1"  
                [class.col-12]="i%3 ===2"  
                (click)="presentaddModalItem(item)"
              >
                <div *ngIf="i%3 ===0">
                  <ion-row>
                    <ion-col col-9>
                        <i class="icon icon-format-align-justify" _icon></i>
                    </ion-col>
                    <ion-col col-3>
                        <ion-badge color="google" class="badge badge-md badge-md-google" 
                            ng-reflect-color="google"
                            *ngIf="testdate(item.updated_at_th) == false">{{ item.price }}</ion-badge>
                            <ion-badge color="facebook" class="badge badge-md badge-md-facebook" 
                            ng-reflect-color="facebook"
                            *ngIf="testdate(item.updated_at_th) == true">{{ item.price }}</ion-badge>
                            <div class="span">บาท</div>
                      </ion-col>
                  </ion-row>
                  <div item-title>{{ item.name }}</div>

                </div>
                <div *ngIf="i%3 ===1">
                    <ion-row>
                        <ion-col col-9>
                            <i class="icon icon-format-align-justify" _icon></i>
                        </ion-col>
                        <ion-col col-3>
                            <ion-badge color="google" class="badge badge-md badge-md-google" 
                                ng-reflect-color="google"
                                *ngIf="testdate(item.updated_at_th) == false">{{ item.price }}</ion-badge>
                                <ion-badge color="facebook" class="badge badge-md badge-md-facebook" 
                                ng-reflect-color="facebook"
                                *ngIf="testdate(item.updated_at_th) == true">{{ item.price }}</ion-badge>
                                <div class="span">บาท</div>
                          </ion-col>
                      </ion-row>
                      <div item-title>{{ item.name }}</div>
                </div>
                    
            
          
            </ion-col>
            </ion-row>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab #fab right top edge [navPush]='PurchaseItems'>
    <button ion-fab color="danger"><ion-icon name="cart"></ion-icon>
      <ion-badge color="google">{{ countItems }}</ion-badge>
    </button>
  </ion-fab>
 
</ion-content> -->
